.container-info-product {
  display: flex;
  flex-direction: column; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  margin-bottom: 30px; }

body {
  background-color: #00000073;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
  font-family: monospace; }

.body2 {
  font-family: monospace;
  max-width: 1200px;
  margin: 0 auto; }

.hidden {
  display: none; }

.main2 {
  display: flex;
  gap: 30px;
  margin-bottom: 80px;
  background-color: #f7f7f7; }

img {
  max-width: 100%; }

form {
  width: 600px;
  margin: auto;
  background: black;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 200px;
  border-radius: 10px; }
  form h2 {
    color: #f1f1f1;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px; }
  form input, form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none; }
  form textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%; }
  form #boton {
    background: #31384a;
    color: white;
    padding: 20px; }
    form #boton:hover {
      cursor: pointer; }

footer {
  background-color: #221f25;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; }
  footer p {
    margin: 0;
    padding: 12px;
    color: white; }
  footer #container {
    height: 60px;
    display: flex;
    justify-content: left;
    text-align: center;
    margin: 0px; }

.footer2 {
  margin-top: 50px;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #221f25;
  position: relative; }

.container-title {
  padding: 30px;
  background-color: #eee;
  margin-bottom: 50px;
  color: #222; }

.container-img {
  background-color: #f7f7f9;
  flex: 1; }

.container-info-product {
  flex: 1; }

.container-price {
  padding-bottom: 20px;
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .container-price span {
    font-size: 24px;
    font-weight: 300; }

.container-details-product {
  padding: 30px 0; }

.form-group {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px; }
  .form-group label {
    width: 100px;
    color: #222;
    font-weight: 700; }
  .form-group select {
    width: 300px;
    border: none;
    padding: 12px 15px;
    background-color: #f7f7f7;
    outline: none;
    color: #666; }
  .form-group .btn-clean {
    border: none;
    background: none;
    color: #666;
    margin-left: 120px;
    cursor: pointer; }
    .form-group .btn-clean:hover {
      color: #3b0cbd; }

.container-add-cart {
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e4e4e4; }

.container-quantity {
  position: relative; }
  .container-quantity .input-quantity {
    background-color: #f7f7f7;
    border: none;
    padding: 10px;
    width: 60px;
    height: 100%;
    color: #666;
    font-weight: 500;
    line-height: 0; }
    .container-quantity .input-quantity:focus {
      outline: none; }
    .container-quantity .input-quantity::-webkit-inner-spin-button, .container-quantity .input-quantity::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none; }
  .container-quantity .btn-increment-decrement {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7px;
    right: 7px; }
    .container-quantity .btn-increment-decrement i {
      font-size: 11px;
      color: #666;
      cursor: pointer; }
    .container-quantity .btn-increment-decrement .fa-chevron-down:hover {
      color: #1bbeb4; }
    .container-quantity .btn-increment-decrement .fa-chevron-up:hover {
      color: #1bbeb4; }

.container-description,
.container-additional-information,
.container-reviews {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 0; }
  .container-description .title-description,
  .container-description .title-additional-information,
  .container-description .title-reviews,
  .container-additional-information .title-description,
  .container-additional-information .title-additional-information,
  .container-additional-information .title-reviews,
  .container-reviews .title-description,
  .container-reviews .title-additional-information,
  .container-reviews .title-reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer; }
    .container-description .title-description h4,
    .container-description .title-additional-information h4,
    .container-description .title-reviews h4,
    .container-additional-information .title-description h4,
    .container-additional-information .title-additional-information h4,
    .container-additional-information .title-reviews h4,
    .container-reviews .title-description h4,
    .container-reviews .title-additional-information h4,
    .container-reviews .title-reviews h4 {
      font-weight: 300;
      color: #666;
      font-size: 14px; }
  .container-description .text-description,
  .container-description .text-additional-information,
  .container-description .text-reviews,
  .container-additional-information .text-description,
  .container-additional-information .text-additional-information,
  .container-additional-information .text-reviews,
  .container-reviews .text-description,
  .container-reviews .text-additional-information,
  .container-reviews .text-reviews {
    font-size: 13px;
    color: #252525;
    line-height: 22px;
    margin-top: 25px; }

.container-social {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  border-bottom: 1px solid #e4e4e4; }
  .container-social span {
    font-weight: 300;
    color: #252525; }
  .container-social .container-buttons-social {
    display: flex;
    gap: 15px;
    align-items: center; }
    .container-social .container-buttons-social a:link,
    .container-social .container-buttons-social a:visited {
      color: #000000;
      font-size: 15px; }
    .container-social .container-buttons-social a:hover {
      color: #3b0cbd; }
    .container-social .container-buttons-social a {
      margin-right: 30px; }

.container-related-products {
  padding: 20px; }
  .container-related-products h2 {
    text-align: center;
    margin-bottom: 30px; }
  .container-related-products .card-list-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px; }
    .container-related-products .card-list-products .card {
      cursor: pointer; }
      .container-related-products .card-list-products .card .card-img {
        background: transparent;
        margin-bottom: 15px; }
        .container-related-products .card-list-products .card .card-img img {
          height: 400px;
          object-fit: cover;
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); }
      .container-related-products .card-list-products .card .info-card {
        display: flex;
        justify-content: space-between; }
        .container-related-products .card-list-products .card .info-card .text-product {
          color: #252525;
          font-weight: 300;
          line-height: 1.4; }
          .container-related-products .card-list-products .card .info-card .text-product .price {
            font-weight: inherit; }
          .container-related-products .card-list-products .card .info-card .text-product h3 {
            color: inherit;
            font-weight: inherit;
            font-size: 15px; }
            .container-related-products .card-list-products .card .info-card .text-product h3:hover {
              color: #3b0cbd; }
          .container-related-products .card-list-products .card .info-card .text-product p {
            margin: 0;
            color: black;
            font-size: 13px; }
            .container-related-products .card-list-products .card .info-card .text-product p:hover {
              color: #3b0cbd; }

.btn-add-to-cart {
  border: none;
  background-color: #252525;
  padding: 10px;
  color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 700;
  cursor: pointer; }
  .btn-add-to-cart:hover {
    color: #3b0cbd; }

@media (max-width: 1024px) {
  .container-related-products .card-list-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px; } }

@media (max-width: 768px) {
  .main2 {
    display: block;
    gap: 30px;
    margin-bottom: 80px;
    background-color: #f7f7f7;
    margin: 10px; } }

@media (max-width: 468px) {
  form {
    width: 95%; } }

@media (max-width: 425px) {
  .container-related-products .card-list-products {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 25px; }
  .main2 {
    display: block;
    gap: 30px;
    margin-bottom: 80px;
    background-color: #f7f7f7;
    margin: 10px; } }
