
  .container-title {
    @include container-title;
  }
  
  .container-img {
    background-color: #f7f7f9;
    flex: 1;
  }
  
  .container-info-product {
    @extend %flex-column;
    flex: 1;
  }
  
  .container-price {
    @include container-price;
  
    span {
      font-size: 24px;
      font-weight: 300;
    }
  }
  
  .container-details-product {
    padding: 30px 0;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
  
    label {
      width: 100px;
      color: #222;
      font-weight: 700;
    }
  
    select {
      width: 300px;
      border: none;
      padding: 12px 15px;
      background-color: #f7f7f7;
      outline: none;
      color: #666;
    }
  
    .btn-clean {
      border: none;
      background: none;
      color: #666;
      margin-left: 120px;
      cursor: pointer;
  
      &:hover {
        color: $color-hover;
      }
    }
  }
  
  .container-add-cart {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e4e4e4;
  }
  
  .container-quantity {
    position: relative;
  
    .input-quantity {
      background-color: #f7f7f7;
      border: none;
      padding: 10px;
      width: 60px;
      height: 100%;
      color: #666;
      font-weight: 500;
      line-height: 0;
  
      &:focus {
        outline: none;
      }
  
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
      }
    }
  
    .btn-increment-decrement {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 7px;
      right: 7px;
  
      i {
        font-size: 11px;
        color: #666;
        cursor: pointer;
      }
  
      .fa-chevron-down:hover {
        color: #1bbeb4;
      }
  
      .fa-chevron-up:hover {
        color: #1bbeb4;
      }
    }
  }
  .container-description,
  .container-additional-information,
  .container-reviews {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 0;
  
    .title-description,
    .title-additional-information,
    .title-reviews {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
  
      h4 {
        font-weight: 300;
        color: #666;
        font-size: 14px;
      }
    }
  
    .text-description,
    .text-additional-information,
    .text-reviews {
      font-size: 13px;
      color: #252525;
      line-height: 22px;
      margin-top: 25px;
    }
  }
  
  .container-social {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
  
    span {
      font-weight: 300;
      color: #252525;
    }
  
    .container-buttons-social {
      display: flex;
      gap: 15px;
      align-items: center;
  
      a:link,
      a:visited {
        color: #000000;
        font-size: 15px;
      }
  
      a:hover {
        color: $color-hover;
      }

      a{
        margin-right: 30px;
      }
    }
  }
  
  .container-related-products {
    h2 {
      text-align: center;
      margin-bottom: 30px;
    }
  
    padding: 20px;
  
    .card-list-products {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 25px;
  
      .card {
        cursor: pointer;
  
        .card-img {
          background: transparent;
          margin-bottom: 15px;
  
          img {
            height: 400px;
            object-fit: cover;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          }
        }
  
        .info-card {
          display: flex;
          justify-content: space-between;
  
          .text-product {
            color: #252525;
            font-weight: 300;
            line-height: 1.4;

            .price{
                font-weight: inherit;
            }
  
            h3 {
              color: inherit;
              font-weight: inherit;
              font-size: 15px;
  
              &:hover {
                color: $color-hover;
              }
            }
  
            p {
                margin: 0;
              color: $color-p;
              font-size: 13px;
  
              &:hover {
                color: $color-hover;
              }
            }
          }
        }
      }
    }
  }
