form {
    width: 600px;
    margin: auto;
    background: rgba(0, 0, 0, 4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 200px;
    border-radius: 10px;
  
    h2 {
      color: rgb(241, 241, 241);
      text-align: center;
      margin: 0;
      font-size: 30px;
      margin-bottom: 20px;
    }
  
    input, textarea {
      width: 100%;
      margin-bottom: 20px;
      padding: 7px;
      box-sizing: border-box;
      font-size: 17px;
      border: none;
    }
  
    textarea {
      min-height: 100px;
      max-height: 200px;
      max-width: 100%;
    }
  
    #boton {
      background: #31384a;
      color: white;
      padding: 20px;
  
      &:hover {
        cursor: pointer;
      }
    }
  }